h1 {
   font-weight: bold;
   font-size: 140%;
}
h2 {
    font-weight: bold;
    font-size: 115%;
}
sub { /* see Gist https://gist.github.com/unruthless/413930 */
    font-size:67%;
    line-height: 0;
    position: relative;
    vertical-align:baseline;
    bottom: -0.35em;
}
code {
   font-family: 'Nunito', sans-serif;
}
pre {
   margin-top: -1em;
   margin-bottom: -1em;
}
samp {
   font-family: monospace;
   background: black;
   color: #0f0;
}

table{
	 border:1px solid #4c4c4c;
    border-radius: 8px;
    border-collapse: collapse;
    border-spacing: 0;
	 width:100%;
	 height:100%;
	 margin:0px;
    padding:0px;
}
tr.highlight {
    background-color:#ffbfff;
}
td {
	 vertical-align:middle;
	 border:1px solid #4c4c4c;
	 border-width:0px 1px 1px 0px;
	 text-align:center;
	 padding:7px;
}
th {
    background: linear-gradient(to bottom, #ed00ed 5%,#ff49ff 100%);
	 border:1px solid #4c4c4c;
	 text-align:center;
	 color:#ffffff;
}
